body {
    margin: 0;
    font-family: 'Poppins', Arial, sans-serif;
    height: 100vh;
    overflow: hidden; 
}
   
  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    filter: grayscale(50%) blur(14px); /* Convert image to black and white */
    z-index: -1; /* Ensure it stays behind the content */
  }
  
  
  
  .clear-content-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0px); /* Just to override any inherited properties */
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .otp-form {
    width: 14vw;
    height: 18vw;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 60px;
    border-radius: 25px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 1);
    /* backdrop-filter: blur(20px); */
    text-align: center;
  }
  
  
  .otp-form h2 {
    margin-top: -5px; /* Adjust this value as per your requirement */
    font-family: Arial;
    margin-bottom: 20px;
    color: #000000;
    text-align: center;
  }
  
  .otp-form input {
    box-sizing: border-box; /* This includes padding and border in the element's total width and height */
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    transition: 0.3s ease;
    border: 1px solid #ccc;
  }
  
  .otp-form input:focus {
    border-color: #000000;
    outline: none;
  }
  
  .otp-form button {
    box-sizing: border-box; /* This includes padding and border in the element's total width and height */
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: 0.3s ease;
  
    background-color: #000;
    color: #fff;
    cursor: pointer;
  }
  
  .otp-form button:hover {
    background-color: #333;
  }
  
  /*.signup-link {*/
  /*  font-size: 12px; !* You can adjust this value to the size you prefer *!*/
  /*  text-decoration: none;*/
  /*  transition: 0.3s;*/
  /*  text-align: center;*/
  /*}*/
  
  /*.signup-link {*/
  /*  color: #d46767;*/
  /*  font-size: 12px; !* You can adjust this value to the size you prefer *!*/
  /*  text-decoration: none;*/
  /*  transition: 0.3s;*/
  /*  text-align: center;*/
  /*}*/
  
  /*.signup-link:hover {*/
  /*  text-decoration: underline;*/
  /*}*/
  